<section id="homepage-carousel" class="carousel slide" data-ride="carouse" data-interval="7000" data-wrap="true">
  <div class="carousel-inner">
    <div class="carousel-item active" id="slide-one">
    </div>
    <div class="carousel-item" id="slide-two">
    </div>
    <div class="carousel-item" id="slide-three">
    </div>
    <div class="carousel-item" id="slide-four">
    </div>
    <div class="main-title-div">
      <h1 class="title">NAXFOR HOMES</h1>
    </div>
  </div>
</section>
<section class="tag-line-section">
  <h2><%= t 'home.tagline' %></h2>
</section>
