<div class="spacer"></div>
<section class="row quality-banner banner">
</section>
<section class="row about-us-intro">
  <div class="col">
    <h1>AVISO LEGAL</h1>
    <p>Este portal, cuyo titular es NAXFOR INGENIERÍA E INFRAESTRUCTURAS, S.L. - CIF: NAXFOR INGENIERÍA E INFRAESTRUCTURAS, S.L. - CIF: B92827476, Dirección: C/ CUEVAS BAJAS, 2, EDIFICIO PICASSO, 1ª PLANTA OFICINA 14, 29004, Málaga Teléfono: 951917824, Correo electrónico: info@naxfor.com</p>
    <p>Propiedad intelectual e industrial</p>
    <p>El diseño del portal y sus códigos fuente, así como los logos, marcas y demás signos distintivos que aparecen en el mismo pertenecen a NAXFOR INGENIERÍA E INFRAESTRUCTURAS, S.L. y están protegidos por los correspondientes derechos de propiedad intelectual e industrial.</p>
    <p>Responsabilidad de los contenidos:</p>
    <p>NAXFOR INGENIERÍA E INFRAESTRUCTURAS, S.L. no se hace responsable de la legalidad de otros sitios web de terceros desde los que pueda accederse al portal. NAXFOR INGENIERÍA E INFRAESTRUCTURAS, S.L. tampoco responde por la legalidad de otros sitios web de terceros, que pudieran estar vinculados o enlazados desde este portal.</p>
    <p>NAXFOR INGENIERÍA E INFRAESTRUCTURAS, S.L. se reserva el derecho a realizar cambios en el sitio web sin previo aviso, al objeto de mantener actualizada su información, añadiendo, modificando, corrigiendo o eliminando los contenidos publicados o el diseño del portal.</p>
    <p>NAXFOR INGENIERÍA E INFRAESTRUCTURAS, S.L. no será responsable del uso que terceros hagan de la información publicada en el portal, ni tampoco de los daños sufridos o pérdidas económicas que, de forma directa o indirecta, produzcan o puedan producir perjuicios económicos, materiales o sobre datos, provocados por el uso de dicha información.</p>
    <p>Ley aplicable:</p>
    <p>La ley aplicable en caso de disputa o conflicto de interpretación de los términos que conforman este aviso legal, así como cualquier cuestión relacionada con los servicios del presente portal, será la ley española.</p>

  </div>
</section>
