<div class="spacer"></div>
<section class="row about-banner banner">
</section>
<section class="row about-us-intro">
  <div class="col">
    <h1><%= t 'location.where' %></h1>
    <p class="p-spacer"><%= t 'location.description' %></p>
  </div>
</section>
<%= link_to 'download', downloads_isoone_path, :action => 'download' %>
