
<div class="spacer"></div>
<section class="row where-banner banner">
</section>
<section class="row about-us-intro">
  <div class="col-lg-6">
    <h1><%= t 'location.where' %></h1>
    <p class="p-spacer"><%= t 'location.intro' %></p>
  </div>
  <div clas="col-lg-6">
    <div class="map-container">
    <iframe class="map-styles" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-4.881362915039063%2C36.49086941889727%2C-3.974990844726563%2C36.95702508148506&amp;layer=transportmap&amp;marker=36.72457610850298%2C-4.4281768798828125" style="border: 0px solid black"></iframe>
    </div>
  </div>
</section>
<section class="row about-us-intro align-self-center">
  <div class="col-lg-6">
    <h1>The Golden Mile</h1>
    <p class="p-spacer"><%= t 'location.golden_mile' %></p>
  </div>
  <div clas="col-lg-6">
    <div class="map-container">
      <div class="where-images golden-mile map-styles"></div>
      </div>
  </div>
</section>
<section class="row about-us-intro">
  <div class="col-lg-6">
    <h1>Málaga</h1>
    <p class="p-spacer"><%= t 'location.malaga' %></p>
  </div>
  <div clas="col-lg-6">
    <div class="map-container">
      <div class="where-images malaga-pomp map-styles" ></div>
    </div>
  </div>
</section>
