
<div class="alert form-errors alert-dismissible fade show" role="alert">
  <% errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
