.footer {
  margin-top: 50px;
  padding-top: 20px;
  background-color: #e8e1d5;
  .logo {
    img {
      margin: 0 0 16px 0;
      width: 100%;
      max-width:180px;
    }
  }
  .data {
    p {
      margin-right: 4px;
    }
    .foot-tagline {
      text-align: center;
    }
    #tag-one {
      color: #063271;
    }
    #tag-two {
      font-family: 'Shadows Into Light', cursive;
      color: #545454;
      font-size: 25px;
    }
  }
  .address{
    text-align: center;

    p {
      margin-bottom: .5rem;
      display: inline-block;
    }

  }
  .links{
    text-align: center;
    margin: 20px 0;

    p {
      margin-bottom: .5rem;
      display: inline-block;
    }

  }
  .safety {
    text-align: center;
    img {
      display: none;
      width:20%;
      max-width: 92px;
      margin-right: 1%;
      padding-bottom: 10px;
    }
  }
}
.fade-links {
  text-align: center;
  background-color: #e8e1d5;
  color: #8e8e8e;
  p {
    display: inline-block;

  }
  a {

    color: #8e8e8e !important;
  }
  span {
    margin: 0 5px;
  }
}
