.footer {
  margin-top: 50px;

  padding-top: 20px;
  background-color: #e8e1d5;
  .logo {
    img {
      margin: 0 15px;;
      width: 100%;
      max-width:180px;

    }
  }
  .data {
    p {
      display: inline-block;
      margin-right: 4px;
    }

  }
  .address{
    text-align: center;
    margin-top: 45px;
    p {
      margin-bottom: .5rem;
    }

  }
  .links{
    text-align: center;
    margin: 20px 0;

    p {
      margin-bottom: .5rem;
    }

  }
  .safety {
    text-align: center;
    img {
      width:20%;
      max-width: 92px;
      margin-right: 1%;
      padding-bottom: 10px;
    }
  }
}
.fade-links {

  text-align: center;
  background-color: #e8e1d5;
  color: #8e8e8e;
  p {
    display: inline-block;

  }
  span {
    margin: 0 5px;
  }
}
