@font-face{
	font-family: 'Aileron-Thin';
	src: url('Aileron-Thin-webfont.woff') format('woff'),
}
#body {
  font-family: 'Aileron-Thin';
	a {
		color: #545454;
	}
	a:hover {
		text-decoration: none;
	}
}
