.nav-container {
  position: relative;
  nav{
    background-color: white;
  }
}
.naxfor-logo {
  width: 150px;
}
.social-logos {
  width: 30px;
}
.lang-links-div {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  color: #545454;
  span {
    padding: 0 5px;
  }
  .lang-links {
    color: #545454;
    font-size: 12px;
  }

}
.social-links-div {
  //margin: 0 40px;
  padding: .5rem 1rem;
  display: flex;
  .insta {
    margin-right: 10px;
  }
}
.nav-links {
  color: #545454;
  align-items: center;
  display: block;
  padding: .5rem 1rem;
}
.nav-links:hover {
  text-decoration: underline;
  color: #545454;

}
#fix-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

}
