// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#project-show-carousel {
  padding: 0px;
  margin-top: 80px;
}
.project-car-section-show {
  position: relative;
  overflow:auto;
  background-color: #e8e1d5;

  .car-project-sw {
    height: 600px;
    width: 95%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }

}
.project-data-sw {
  position: relative;
  padding: 30px;
  background-color: #e8e1d5;
  .name {
    font-size: 2.4rem;
  }
  p {
    font-size: 1.3em;
    margin-bottom: 0;
    padding-left: 15px;
  }
  #project-description {
    margin: 10px 5% 10px 0;
    font-size: 1.2em;
  }
  span {
    font-size: .9em;
    font-weight: bold;
    letter-spacing: 2px
  }
  .controlls-div {
    position: absolute;
    right: 5%;
    top: 25px;
    .arrows {

      opacity: .4;
    }
    .arrows:hover {
      opacity: .6;
    }
  }
}
.feature-section{
  position: relative;
  margin: 15px 0 0 0;
  width: 100%;
  .feature-image-div {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }
  .feature-text-div{
    padding: 50px 30px 30px 50px;
    p {
      text-indent: -20px;
      padding: 0 20px;
      font-size: 1.3em;
    }
  }
}

//index

.spacer {
  height: 80px;
  //margin-bottom: 50px;
}
.project-index-text {
  padding-top: 40px;
  h1 {
    margin-left: 20px;
  }
  .project-text {
    padding: 0px 20px 40px 20px;
  }
}
.right-arrow-index {
  vertical-align: initial;
}
.edit-link {
  font-size: 1.2em;
  padding-left: 20px;
}
.project-car-prev {
  margin: 20px 30px;
  padding: 20px 0;
  border-top: 4px solid #e8e1d5;
  border-bottom: 4px solid #e8e1d5;
}
.carousel-images-display-container{

}
.carousel-image-preview {
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}
.feature-image-preview {
  margin: 20px 20px 20px 0;
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}
.f-p-style {
  padding-top: 10px;
  margin-top: 20px;
  border-bottom: 4px solid #e8e1d5;
}
#features {
  margin-bottom: 20px;
}
#new-feature {
  background-color: #e8e1d5;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  opacity: .8;
}
#new-feature:hover {
  opacity: 1;
}
.closer {
  margin-bottom: 10px;
  width: 100%;
  height: 30px;
  div {

    background-image: url(asset_path("close.png"));
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    float: right;
    margin-right: 10px;
    background-color: #e8e1d5;
    border: 5px solid #e8e1d5;
    opacity: .8;
    border-radius: 3px;
  }
  div:hover {
    opacity: 1;
  }
}
.form-title {
  margin-top: 150px;
}
