.widther {
  width: 80%;
  margin: auto;
}
@media only screen and (max-width: 1600px) {
  .widther {
    width: 100%;
    margin: auto;
  }
}
@media only screen and (max-width: 1180px) {
  .main-title-div {
    bottom: -23px;
    .title{
      white-space: nowrap;
      font-size: 100px;
      line-height: 100px;
    }
  }
  .image-over-section {
    .home-about-txt-div {

      .home-text{
        .cap-letter {
          font-size: 2.7em;
        }
        font-size: 16px;
      }
      .fade-header {
        font-size: 2em;
      }
    }
  }
  #projcts-home-car {
    margin-top: 20px;
  }
  .stats {

    p {
      margin-bottom: 20px;
    }
  }
}
@media only screen and (max-width: 991px) {
  #fix-top {
    background-color: unset;
  }
  .navbar-light{
    .navbar-toggler {
      background-color: white;
    }
  }
  .navbar-collapse {
    background-color: white;
  }

  .navbar-nav {
    text-align: center;
  }
  .social-links-div {
    padding: 10px 10px;
    display: inline-block;
  }
  .lang-links-div {
    padding: 10px 10px;
    display: inline-block;
    .lang-links {
      font-size: 1em;
    }
  }
  .nav-links {
    padding: 10px 10px;
    font-size: 2em;
  }
  .nav-links:hover {
    text-decoration: underline !important;
    text-decoration-color: #e8e1d5 !important;
  }

  .map-container {
    width: 100vw;
    margin: auto;
  }
  .map-styles {
    width: 90%;
    height: 600px;
    margin-top: 25px;
  }

}

@media only screen and (max-width: 820px) {
  .alert {
    width: 90%;
    left: 5%;
  }
  .main-title-div {
    bottom: -17px;
    .title{
      white-space: nowrap;
      font-size: 60px;
      line-height: 60px;
    }
  }
  .tag-line-section {
    h2 {
      font-size: 18px;
      padding: 20px 20px;
    }
  }
  .project-car-section-show {
    .car-project-sw {
      height: 600px;
      width: 100%;
    }
  }
  .project-data-sw {
    padding: 20px;
    .name {
      font-size: 2em;

    }
    #project-description {
      margin: 10px 0;
      font-size: 1em;
    }
    p {
      font-size: 1em;
    }
    .controlls-div {
      right: 10px;
      img {
        width: 25px;
      }
    }
  }

}
@media only screen and (max-width: 701px) {
  .banner {
    height: 300px;
  }

  .image-over-section {
    .home-about-txt-div {
      .home-text{
        padding: 30px 30px 40px 30px;
      }

    }
  }
  .feature-section {
    .feature-text-div {
      padding: 35px 20px 30px 25px;
      p {
        font-size:  1em;
      }
    }
  }
  .about-us-intro {
    h1 {
      margin: 20px;
      font-size: 2.6em;
    }
    p {
      margin: 0 20px;
      font-size: 16px;
    }
  }
  .contact-text {
    p {
      margin-left: 40px;
    }
  }
  .map-styles {
    height: 400px;
  }
}



@media only screen and (max-width: 500px) {
  .project-car-section-show {
    .car-project-sw {
      height: 400px;
      width: 100%;
    }
  }

  .main-title-div {
        bottom: 0px;
    .title{
      white-space:normal;
    }
  }
  .car-project-hm {
    .project-data {
      .name {
        font-size: 1.7em;
      }
      .right-arrow {
        display: none;
      }
    }
  }
  .stats {
    h4 {
      font-size: 1.6em;
    }
    p {
      font-size: .8em;
    }
  }
  .project-data-sw {
    padding: 20px;
    .name {
      font-size: 2em;

    }
    p {
      font-size: 1em;
    }
    .controlls-div {
      display: none;
    }
  }
  .about-us-intro {
    h1 {
      margin-top: 0px;
      font-size: 2.2em;
    }
    p {
      font-size: 1em;
    }
  }
  .quality-assurance-intro {
      h1 {
      margin: 20px;
      font-size: 2em;
    }
    p {
      margin: 0 20px 20px 20px;
      font-size: 1em;
    }
    .spcr {
      margin: 0 20px 20px 20px;
      font-size: 1.1em;
    }
  }
  .contact-us-form-area {
    form {
      padding: 0 20px 20px 20px;
    }
  }
  .navbar {
    padding: 10px 10px 0 10px !important;
  }
  .naxfor-logo {
    width: 150px;
  }
  .spacer {
    height: 65px;
  }
  .image-over-section{
    .home-about-txt-div {
      .right-arrow {
        display: none;
      }
    }
    .fade-header {
      display: none;
    }
  }
  .about-us-intro {
    .about-bullets-section {
      margin: 0 20px 0 20px;
    }
  }
  .map-styles {
    height: 300px;
    margin-top: 0px;
  }
}






@media only screen and (min-width: 991px) {
  //set nav to top of screen
  nav{
    background-color: white;
  }

  .naxfor-logo {
    width: 225px;

  }

  .lang-links-div {
    padding: 0 10px;
  }

  .social-links-div {
    margin: 0 40px;
    padding: 0 5px;
    align-items: center;
    a {
      padding: 0 5px;
    }
  }
  .nav-links {
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    font-size: 1.2em;
  }
  .nav-links:hover {
    border-bottom: 5px solid #e8e1d5;
    text-decoration: underline;
    text-decoration: none;

  }
  .image-over-section {
    border-left: 20px solid white;
    border-right: 20px solid white;

    .home-about-img-div {
      height: 500px;
      #hm-abt-img {
        height: 530px;
      }
      #hm-where-img {
        height: 530px;
      }
    }
    .home-about-txt-div {
      .home-text{
        padding: 150px 40px 40px 40px;
      }
    }
  }

  .confidence {
    margin: 50px 0 20px 0;
  }

  .project-car-section {
    height: 673px;
    background-color: #e8e1d5;
  }
  .car-project-hm {
    height: 600px;
    .project-data {
      top: 607px;
    }
  }
  .quality-assurance-intro {
    .downloads {
      margin: 50px 0;
    }
  }
  .social-img-div {
    margin: 70px 0 0px 0;
  }
  .about-us-intro {
    .about-bullets-section {
    //  text-align: center;
      margin-left: 32px;
      text-align: left;
    }
    .about-bullets {
    //  margin-top: 90px;

    }
  }
  .qa-spacer {
    margin-top: 50px;
  }
  .footer {
    .links {
      text-align: left;
      margin-top: 53px;
    }
    .address {
      text-align: left;
      margin-top: 53px;
    }
    .data {
      p {
        display: block;
      }

    }
    .safety {
      margin-top: 53px;
      img {
        width:30%;
        margin-right: 2%;
      }
    }

  }
  .project-index-text {
    padding-top: 100px;

    .project-text {
      padding: 25px 40px 0 20px;
    }
  }
  .edit-link {
    text-align: right;
    font-size: 1.2em;
    padding: 0 40px 0 0;
  }
}

@media only screen and (min-width: 1200px) {
.feature-section {
  .right {
    right: 0px;
    border-left: 15px solid white;
  }
  .left {
    left: 0px;
    border-right: 15px solid white;
  }
  .feature-text-div {
    padding: 250px 40px 0 40px;
    z-index: 1;
    position: absolute;
    width: 33%;
    right: 0px;
    height: 100vh;
    top: 0px;

    p {
      text-indent: -20px;
      text-align: justify;
    }
  }
  .feature-text-div::after {
    content: "";
    background: #fff;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    }
  }
}
